# Завантаження тестових даних

## Допоміжна документація
- [Introduction to the Python Driver for Oracle Database](https://python-oracledb.readthedocs.io/en/latest/user_guide/introduction.html#introduction-to-the-python-driver-for-oracle-database)
- [Python python-oracledb Driver](https://oracle.github.io/python-oracledb/)
- [Python: Read Data from Oracle Database](https://kontext.tech/article/1019/python-read-data-from-oracle-database)

## Підключення до БД через "тонкий" клієнт ORACLE та виборка одного запису з його виводом через "print"
- Очікується, що вибиирається тільки один запис [5.1.1. Fetch Methods](https://python-oracledb.readthedocs.io/en/latest/user_guide/sql_execution.html#fetch-methods)
- Прив'язка зміних запиту виконується через **змінні прив'язки**

In [14]:
    import oracledb
    import getpass
    
    username = "CUSTDOC"
    userpwd = getpass.getpass("Enter password: ")

    host="localhost"
    port="1521"
    service_name="XEPDB1"
    dsn = f'{username}/{userpwd}@{host}:{port}/{service_name}'

Enter password:  ········

## Підготовка тестових даних

In [15]:
import oracledb
import os
from faker import Faker

def next_custid(numcust):
    """Генерація значення CUSTID. numcust - ціле число"""
    # Задана фіксована довжина
    FIXED_LENGTH = 9
    # 1. Спочатку перетворюємо int на str
    number_str = str(numcust) 
    # 2. Використовуємо zfill() для додавання ведучих нулів
    result_zfill = number_str.zfill(FIXED_LENGTH)
    return result_zfill

def insert_to_doc( CUSTID, TYPEDOC, ISACRUAL):
    """INSERT CUSTOMER DOCUMET TYPE"""
    try:
        sql_insert_doc = """ 
            INSERT INTO CUSTDOC.CUST$DOCS
            (CUSTID, TYPEDOC, ISACRUAL )
            VALUES
            (:CUSTID, :TYPEDOC, :ISACRUAL)
             RETURNING IDDOC INTO :returned_iddoc 
        """       
        returned_iddoc = cursor.var(oracledb.NUMBER)
        cursor.execute(sql_insert_doc, {
            'CUSTID': CUSTID,
            'TYPEDOC': TYPEDOC,
            'ISACRUAL': ISACRUAL, 
            'returned_iddoc': returned_iddoc
        })

        return returned_iddoc.getvalue()[0]
    except oracledb.Error as e:
        # Обробка помилок Oracle
        error_obj, = e.args
        print(f"Помилка Oracle: {error_obj.code} - {error_obj.message}")
    except Exception as error:
        print(f" Виникла неочікувана помилка: {type(error).__name__}")
        print(f"Деталі помилки: {error}")
        print(sys.exc_info())          


def insert_to_blob( custid, iddoc, file_path,  file_desc):
    """Прочитати файл та завантажити його в BLOB поле таблиці ORACLE"""
    try:
        with open(file_path, 'rb') as f:
                file_data = f.read()
    
        file_name = os.path.basename(file_path)
        sql_insert_blob = """
            INSERT INTO CUSTDOC.CUST$DOCS$ATTACH 
            (IDDOC, FILE_NAME, FILE_DESC, FILE_CONTENT)
            VALUES 
            (:returned_iddoc, :file_name,  :file_desc, :file_content)
            RETURNING IDFL INTO :returned_idfl """
        returned_idfl = cursor.var(oracledb.NUMBER)
        cursor.execute(sql_insert_blob, {
            'returned_iddoc': iddoc,
            'file_name': 'CU_' + custid + '_' + file_name,
            'file_desc': file_desc,
            'file_content': file_data, 
            'returned_idfl': returned_idfl
        })
        return returned_idfl.getvalue()[0]
    except oracledb.Error as e:
        # Обробка помилок Oracle
        error_obj, = e.args
        print(f"Помилка Oracle: {error_obj.code} - {error_obj.message}")
    except Exception as error:
        print(f" Виникла неочікувана помилка: {type(error).__name__}")
        print(f"Деталі помилки: {error}")
        print(sys.exc_info())          
            
#=============================================================
try:
    # Підключаюся до БД
    connection = oracledb.connect(dsn)
    cursor = connection.cursor()
    sqld="""DELETE FROM CUSTDOC.CUST$CUST"""
    cursor.execute(sqld) 
    connection.commit();
    #if cursor:
    #    cursor.close()
    
    
    sql = """insert into CUSTDOC.CUST$CUST 
              ( CUSTID, CUSTTYPE, CUSTNAME ) VALUES 
              ( :A_CUSTID, :A_CUSTTYPE, :A_CUSTNAME )"""

    custid_int=0
    fake_en = Faker('en_US') 
    print("--- Фізичні особи (Англійська) ---")
    for _ in range(56):
        # Генерація повного імені
        full_name = fake_en.name() 
       
        custid_int+=1
        custid=next_custid(custid_int) 
        #print(f"{full_name} for custi={custid}")
        cursor.execute(sql, 
                       {
                        "A_CUSTID": custid, 
                        "A_CUSTTYPE": "CI", 
                        "A_CUSTNAME": full_name 
                        }
         )

        if custid_int % 2 == 0:
            ret_iddoc=insert_to_doc(custid, 'FOR_PASS', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_123820.jpg',  'Document: IMG_20190512_123820.jpg')  
        elif  custid_int % 3 == 0:
            ret_iddoc=insert_to_doc(custid, 'NAT_ID', 'Y')
            
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_123820.jpg',  'Document:  IMG_20190512_123820.jpg')    
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_124107.jpg',  'Document:  IMG_20190512_124107.jpg')    
            
            ret_iddoc=insert_to_doc(custid, 'TAX_ID', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190515_135249.jpg',  'Document:  IMG_20190515_135249.jpg')    
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_124206.jpg',  'Document:  IMG_20190512_124206.jpg')    
        elif  custid_int % 5 == 0:
            ret_iddoc=insert_to_doc(custid, 'DRV_LIC', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/1000001465.jpg',  '1000001465.jpg')    
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/1000001462.jpg',  '1000001462.jpg') 
        else:    
            ret_iddoc=insert_to_doc(custid, 'NAT_ID', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190511_152919.jpg',  'Document:   IMG_20190511_152919.jpg')    
    connection.commit()
    print("--- Legal Ent особи (Англійська) ---")
    for _ in range(56):
        # Генерація company name
        company_name = fake_en.company()
        custid_int+=1
        custid=next_custid(custid_int) 
        #print(f"{company_name} for custi={custid}")
        cursor.execute(sql, 
                       {
                        "A_CUSTID": custid, 
                        "A_CUSTTYPE": "LE", 
                        "A_CUSTNAME": company_name 
                        }
         )

        if custid_int % 2 == 0:
            ret_iddoc=insert_to_doc(custid, 'AoA', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_123820.jpg',  'Document: IMG_20190512_123820.jpg')  
        elif  custid_int % 3 == 0:
            ret_iddoc=insert_to_doc(custid, 'REG_EXT', 'Y')
            
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_123820.jpg',  'Document:  IMG_20190512_123820.jpg')    
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_124107.jpg',  'Document:  IMG_20190512_124107.jpg')    
            
            ret_iddoc=insert_to_doc(custid, 'COI', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190515_135249.jpg',  'Document:  IMG_20190515_135249.jpg')    
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190512_124206.jpg',  'Document:  IMG_20190512_124206.jpg')    
        elif  custid_int % 5 == 0:
            ret_iddoc=insert_to_doc(custid, 'PoA', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/1000001465.jpg',  '1000001465.jpg')    
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/1000001462.jpg',  '1000001462.jpg') 
        else:    
            ret_iddoc=insert_to_doc(custid, 'REG_EXT', 'Y')
            ret_idfl=insert_to_blob(custid, ret_iddoc, './data/IMG_20190511_152919.jpg',  'Document:   IMG_20190511_152919.jpg')            
    connection.commit()
except oracledb.Error as e:
    # Обробка помилок Oracle
    error_obj, = e.args
    print(f"Помилка Oracle: {error_obj.code} - {error_obj.message}")
except Exception as error:
    print(f" Виникла неочікувана помилка: {type(error).__name__}")
    print(f"Деталі помилки: {error}")
    print(sys.exc_info())    
finally:
    # 6. Закриття курсора та з'єднання
    if cursor:
        cursor.close()
        print("\nКурсор закрито.")
    if connection:
        connection.close()
        print("З'єднання з БД закрито.")

--- Фізичні особи (Англійська) ---
--- Legal Ent особи (Англійська) ---

Курсор закрито.
З'єднання з БД закрито.

#### Перегляд тестових даних

In [16]:
# SQL- запит як багаторядкова змінна
sql_query = """
    SELECT A.CUSTID, A.CUSTTYPE, A.CUSTNAME, B.TYPEDOC, B.ISACRUAL, F.FILE_NAME, B.IDDOC, F.IDFL
    FROM CUSTDOC.CUST$CUST  A
    LEFT OUTER JOIN CUSTDOC.CUST$DOCS B ON B.CUSTID=A.CUSTID
    LEFT OUTER JOIN CUSTDOC.CUST$DOCS$ATTACH  F ON F.IDDOC=B.IDDOC
 """
# Встановлюємо змінну з'єднання
connection = None
cursor = None

try:
    # 1. Встановлення з'єднання (підключення до бази даних)
    connection = oracledb.connect(dsn=dsn)

    # 2. Створення курсора
    cursor = connection.cursor()
    
    # 3. Виконання запиту SELECT
    cursor.execute(sql_query)
    
    # --- Обробка та відображення даних ---

    
    # Отримання імен стовпців для заголовка
    # cursor.description - це список кортежів, де перший елемент - ім'я стовпця
    column_names = [col[0] for col in cursor.description]
    
    print("-" * 130)
    # Відображення заголовка
    print(f"{column_names[0]:<15} {column_names[1]:<18} {column_names[2]:<20} {column_names[3]:<10} {column_names[4]:<8} {column_names[5]:<38} {column_names[6]:<5} {column_names[7]:<5}")
    print("-" * 130)
    
    # 4. Отримання всіх результатів
    # fetchall() повертає список кортежів, де кожен кортеж - рядок даних
    rows = cursor.fetchall()
  
    # 5. Обробка та відображення отриманих даних
    if rows:
        for row in rows:
            # Виведення даних з форматуванням
            # :<15 означає вирівнювання по лівому краю, займаючи 15 символів
            print(f"{row[0]:<15} {row[1]:<8} {row[2]:<30} {row[3]:<10} {row[4]:<8} {row[5]:<38} {row[6]:<5} {row[7]:<5}")
    else:
        print("Запит не повернув жодного рядка.")
        
    print("-" * 130)
    print(f"Fetched rows={len(rows)}")

except oracledb.Error as e:
    # Обробка помилок Oracle
    error_obj, = e.args
    print(f"Помилка Oracle: {error_obj.code} - {error_obj.message}")
finally:
    # 6. Закриття курсора та з'єднання
    if cursor:
        cursor.close()
        print("\nКурсор закрито.")
    if connection:
        connection.close()
        print("З'єднання з БД закрито.")

----------------------------------------------------------------------------------------------------------------------------------
CUSTID          CUSTTYPE           CUSTNAME             TYPEDOC    ISACRUAL FILE_NAME                              IDDOC IDFL
----------------------------------------------------------------------------------------------------------------------------------
000000001       CI       Anthony Banks                  NAT_ID     Y        CU_000000001_IMG_20190511_152919.jpg   3615  3616
000000002       CI       Marcus Walker                  FOR_PASS   Y        CU_000000002_IMG_20190512_123820.jpg   3617  3618
000000003       CI       William Marsh                  NAT_ID     Y        CU_000000003_IMG_20190512_123820.jpg   3619  3620
000000003       CI       William Marsh                  NAT_ID     Y        CU_000000003_IMG_20190512_124107.jpg   3619  3621
000000003       CI       William Marsh                  TAX_ID     Y        CU_000000003_IMG_20190515_135249.jpg   3622  3623
000000003       CI       William Marsh                  TAX_ID     Y        CU_000000003_IMG_20190512_124206.jpg   3622  3624
000000004       CI       Cory Rodriguez                 FOR_PASS   Y        CU_000000004_IMG_20190512_123820.jpg   3625  3626
000000005       CI       Gary James                     DRV_LIC    Y        CU_000000005_1000001465.jpg            3627  3628
000000005       CI       Gary James                     DRV_LIC    Y        CU_000000005_1000001462.jpg            3627  3629
000000006       CI       Susan Nichols                  FOR_PASS   Y        CU_000000006_IMG_20190512_123820.jpg   3630  3631
000000007       CI       Amber Smith                    NAT_ID     Y        CU_000000007_IMG_20190511_152919.jpg   3632  3633
000000008       CI       Brett Burton                   FOR_PASS   Y        CU_000000008_IMG_20190512_123820.jpg   3634  3635
000000009       CI       Mark Carter                    NAT_ID     Y        CU_000000009_IMG_20190512_123820.jpg   3636  3637
000000009       CI       Mark Carter                    NAT_ID     Y        CU_000000009_IMG_20190512_124107.jpg   3636  3638
000000009       CI       Mark Carter                    TAX_ID     Y        CU_000000009_IMG_20190515_135249.jpg   3639  3640
000000009       CI       Mark Carter                    TAX_ID     Y        CU_000000009_IMG_20190512_124206.jpg   3639  3641
000000010       CI       Diane Gallegos                 FOR_PASS   Y        CU_000000010_IMG_20190512_123820.jpg   3642  3643
000000011       CI       Gary Vincent                   NAT_ID     Y        CU_000000011_IMG_20190511_152919.jpg   3644  3645
000000012       CI       Heather Hinton                 FOR_PASS   Y        CU_000000012_IMG_20190512_123820.jpg   3646  3647
000000013       CI       Kendra Humphrey                NAT_ID     Y        CU_000000013_IMG_20190511_152919.jpg   3648  3649
000000014       CI       Tammy Durham                   FOR_PASS   Y        CU_000000014_IMG_20190512_123820.jpg   3650  3651
000000015       CI       Wendy Smith                    NAT_ID     Y        CU_000000015_IMG_20190512_123820.jpg   3652  3653
000000015       CI       Wendy Smith                    NAT_ID     Y        CU_000000015_IMG_20190512_124107.jpg   3652  3654
000000015       CI       Wendy Smith                    TAX_ID     Y        CU_000000015_IMG_20190515_135249.jpg   3655  3656
000000015       CI       Wendy Smith                    TAX_ID     Y        CU_000000015_IMG_20190512_124206.jpg   3655  3657
000000016       CI       James Thomas                   FOR_PASS   Y        CU_000000016_IMG_20190512_123820.jpg   3658  3659
000000017       CI       Lisa Graham                    NAT_ID     Y        CU_000000017_IMG_20190511_152919.jpg   3660  3661
000000018       CI       Aaron Woods                    FOR_PASS   Y        CU_000000018_IMG_20190512_123820.jpg   3662  3663
000000019       CI       Heather Garcia                 NAT_ID     Y        CU_000000019_IMG_20190511_152919.jpg   3664  3665
000000020       CI       John Clark                     FOR_PASS   Y        CU_000000020_IMG_20190512_123820.jpg   3666  3667
000000021       CI       Sarah Miller                   NAT_ID     Y        CU_000000021_IMG_20190512_123820.jpg   3668  3669
000000021       CI       Sarah Miller                   NAT_ID     Y        CU_000000021_IMG_20190512_124107.jpg   3668  3670
000000021       CI       Sarah Miller                   TAX_ID     Y        CU_000000021_IMG_20190515_135249.jpg   3671  3672
000000021       CI       Sarah Miller                   TAX_ID     Y        CU_000000021_IMG_20190512_124206.jpg   3671  3673
000000022       CI       Christine Curtis               FOR_PASS   Y        CU_000000022_IMG_20190512_123820.jpg   3674  3675
000000023       CI       Daniel Floyd                   NAT_ID     Y        CU_000000023_IMG_20190511_152919.jpg   3676  3677
000000024       CI       Jennifer Christian             FOR_PASS   Y        CU_000000024_IMG_20190512_123820.jpg   3678  3679
000000025       CI       Cathy Montoya                  DRV_LIC    Y        CU_000000025_1000001465.jpg            3680  3681
000000025       CI       Cathy Montoya                  DRV_LIC    Y        CU_000000025_1000001462.jpg            3680  3682
000000026       CI       Stephanie Knox                 FOR_PASS   Y        CU_000000026_IMG_20190512_123820.jpg   3683  3684
000000027       CI       Lucas Farrell                  NAT_ID     Y        CU_000000027_IMG_20190512_123820.jpg   3685  3686
000000027       CI       Lucas Farrell                  NAT_ID     Y        CU_000000027_IMG_20190512_124107.jpg   3685  3687
000000027       CI       Lucas Farrell                  TAX_ID     Y        CU_000000027_IMG_20190515_135249.jpg   3688  3689
000000027       CI       Lucas Farrell                  TAX_ID     Y        CU_000000027_IMG_20190512_124206.jpg   3688  3690
000000028       CI       Shannon Garcia                 FOR_PASS   Y        CU_000000028_IMG_20190512_123820.jpg   3691  3692
000000029       CI       Laura Wood                     NAT_ID     Y        CU_000000029_IMG_20190511_152919.jpg   3693  3694
000000030       CI       James Evans                    FOR_PASS   Y        CU_000000030_IMG_20190512_123820.jpg   3695  3696
000000031       CI       Ryan Mcdonald                  NAT_ID     Y        CU_000000031_IMG_20190511_152919.jpg   3697  3698
000000032       CI       Ryan Jones                     FOR_PASS   Y        CU_000000032_IMG_20190512_123820.jpg   3699  3700
000000033       CI       Crystal Pittman                NAT_ID     Y        CU_000000033_IMG_20190512_123820.jpg   3701  3702
000000033       CI       Crystal Pittman                NAT_ID     Y        CU_000000033_IMG_20190512_124107.jpg   3701  3703
000000033       CI       Crystal Pittman                TAX_ID     Y        CU_000000033_IMG_20190515_135249.jpg   3704  3705
000000033       CI       Crystal Pittman                TAX_ID     Y        CU_000000033_IMG_20190512_124206.jpg   3704  3706
000000034       CI       Andrew Benjamin                FOR_PASS   Y        CU_000000034_IMG_20190512_123820.jpg   3707  3708
000000035       CI       Derrick Barron                 DRV_LIC    Y        CU_000000035_1000001465.jpg            3709  3710
000000035       CI       Derrick Barron                 DRV_LIC    Y        CU_000000035_1000001462.jpg            3709  3711
000000036       CI       Erica Wilcox                   FOR_PASS   Y        CU_000000036_IMG_20190512_123820.jpg   3712  3713
000000037       CI       Anita Silva                    NAT_ID     Y        CU_000000037_IMG_20190511_152919.jpg   3714  3715
000000038       CI       Jonathan Anderson              FOR_PASS   Y        CU_000000038_IMG_20190512_123820.jpg   3716  3717
000000039       CI       Jerry Castaneda                NAT_ID     Y        CU_000000039_IMG_20190512_123820.jpg   3718  3719
000000039       CI       Jerry Castaneda                NAT_ID     Y        CU_000000039_IMG_20190512_124107.jpg   3718  3720
000000039       CI       Jerry Castaneda                TAX_ID     Y        CU_000000039_IMG_20190515_135249.jpg   3721  3722
000000039       CI       Jerry Castaneda                TAX_ID     Y        CU_000000039_IMG_20190512_124206.jpg   3721  3723
000000040       CI       Thomas Jackson                 FOR_PASS   Y        CU_000000040_IMG_20190512_123820.jpg   3724  3725
000000041       CI       Regina Jackson                 NAT_ID     Y        CU_000000041_IMG_20190511_152919.jpg   3726  3727
000000042       CI       Melissa Williams               FOR_PASS   Y        CU_000000042_IMG_20190512_123820.jpg   3728  3729
000000043       CI       Aaron Nelson                   NAT_ID     Y        CU_000000043_IMG_20190511_152919.jpg   3730  3731
000000044       CI       John Davis                     FOR_PASS   Y        CU_000000044_IMG_20190512_123820.jpg   3732  3733
000000045       CI       Elizabeth Faulkner             NAT_ID     Y        CU_000000045_IMG_20190512_123820.jpg   3734  3735
000000045       CI       Elizabeth Faulkner             NAT_ID     Y        CU_000000045_IMG_20190512_124107.jpg   3734  3736
000000045       CI       Elizabeth Faulkner             TAX_ID     Y        CU_000000045_IMG_20190515_135249.jpg   3737  3738
000000045       CI       Elizabeth Faulkner             TAX_ID     Y        CU_000000045_IMG_20190512_124206.jpg   3737  3739
000000046       CI       Anthony Cruz                   FOR_PASS   Y        CU_000000046_IMG_20190512_123820.jpg   3740  3741
000000047       CI       Lisa Jones                     NAT_ID     Y        CU_000000047_IMG_20190511_152919.jpg   3742  3743
000000048       CI       Michael Watts                  FOR_PASS   Y        CU_000000048_IMG_20190512_123820.jpg   3744  3745
000000049       CI       Adam Walls                     NAT_ID     Y        CU_000000049_IMG_20190511_152919.jpg   3746  3747
000000050       CI       Kelly Johnson                  FOR_PASS   Y        CU_000000050_IMG_20190512_123820.jpg   3748  3749
000000051       CI       Nicole Robinson                NAT_ID     Y        CU_000000051_IMG_20190512_123820.jpg   3750  3751
000000051       CI       Nicole Robinson                NAT_ID     Y        CU_000000051_IMG_20190512_124107.jpg   3750  3752
000000051       CI       Nicole Robinson                TAX_ID     Y        CU_000000051_IMG_20190515_135249.jpg   3753  3754
000000051       CI       Nicole Robinson                TAX_ID     Y        CU_000000051_IMG_20190512_124206.jpg   3753  3755
000000052       CI       Lisa Wiggins                   FOR_PASS   Y        CU_000000052_IMG_20190512_123820.jpg   3756  3757
000000053       CI       Michael Collier                NAT_ID     Y        CU_000000053_IMG_20190511_152919.jpg   3758  3759
000000054       CI       Gabriel Perry                  FOR_PASS   Y        CU_000000054_IMG_20190512_123820.jpg   3760  3761
000000055       CI       Chelsea Carter                 DRV_LIC    Y        CU_000000055_1000001465.jpg            3762  3763
000000055       CI       Chelsea Carter                 DRV_LIC    Y        CU_000000055_1000001462.jpg            3762  3764
000000056       CI       Melissa Erickson               FOR_PASS   Y        CU_000000056_IMG_20190512_123820.jpg   3765  3766
000000057       LE       Sanchez Inc                    REG_EXT    Y        CU_000000057_IMG_20190512_123820.jpg   3767  3768
000000057       LE       Sanchez Inc                    REG_EXT    Y        CU_000000057_IMG_20190512_124107.jpg   3767  3769
000000057       LE       Sanchez Inc                    COI        Y        CU_000000057_IMG_20190515_135249.jpg   3770  3771
000000057       LE       Sanchez Inc                    COI        Y        CU_000000057_IMG_20190512_124206.jpg   3770  3772
000000058       LE       Smith-Owens                    AoA        Y        CU_000000058_IMG_20190512_123820.jpg   3773  3774
000000059       LE       Richardson Ltd                 REG_EXT    Y        CU_000000059_IMG_20190511_152919.jpg   3775  3776
000000060       LE       Sampson Group                  AoA        Y        CU_000000060_IMG_20190512_123820.jpg   3777  3778
000000061       LE       Baird-Jones                    REG_EXT    Y        CU_000000061_IMG_20190511_152919.jpg   3779  3780
000000062       LE       Moore Group                    AoA        Y        CU_000000062_IMG_20190512_123820.jpg   3781  3782
000000063       LE       Bartlett LLC                   REG_EXT    Y        CU_000000063_IMG_20190512_123820.jpg   3783  3784
000000063       LE       Bartlett LLC                   REG_EXT    Y        CU_000000063_IMG_20190512_124107.jpg   3783  3785
000000063       LE       Bartlett LLC                   COI        Y        CU_000000063_IMG_20190515_135249.jpg   3786  3787
000000063       LE       Bartlett LLC                   COI        Y        CU_000000063_IMG_20190512_124206.jpg   3786  3788
000000064       LE       Wilcox PLC                     AoA        Y        CU_000000064_IMG_20190512_123820.jpg   3789  3790
000000065       LE       Rogers-Houston                 PoA        Y        CU_000000065_1000001465.jpg            3791  3792
000000065       LE       Rogers-Houston                 PoA        Y        CU_000000065_1000001462.jpg            3791  3793
000000066       LE       Mayo, Bender and Sullivan      AoA        Y        CU_000000066_IMG_20190512_123820.jpg   3794  3795
000000067       LE       Smith-Lopez                    REG_EXT    Y        CU_000000067_IMG_20190511_152919.jpg   3796  3797
000000068       LE       Reynolds, Dominguez and Jacobson AoA        Y        CU_000000068_IMG_20190512_123820.jpg   3798  3799
000000069       LE       Alexander, Williams and Jackson REG_EXT    Y        CU_000000069_IMG_20190512_123820.jpg   3800  3801
000000069       LE       Alexander, Williams and Jackson REG_EXT    Y        CU_000000069_IMG_20190512_124107.jpg   3800  3802
000000069       LE       Alexander, Williams and Jackson COI        Y        CU_000000069_IMG_20190515_135249.jpg   3803  3804
000000069       LE       Alexander, Williams and Jackson COI        Y        CU_000000069_IMG_20190512_124206.jpg   3803  3805
000000070       LE       Stevenson-Clark                AoA        Y        CU_000000070_IMG_20190512_123820.jpg   3806  3807
000000071       LE       Carroll, Hall and Richmond     REG_EXT    Y        CU_000000071_IMG_20190511_152919.jpg   3808  3809
000000072       LE       Santiago-Lawrence              AoA        Y        CU_000000072_IMG_20190512_123820.jpg   3810  3811
000000073       LE       Nelson-Cain                    REG_EXT    Y        CU_000000073_IMG_20190511_152919.jpg   3812  3813
000000074       LE       Scott Ltd                      AoA        Y        CU_000000074_IMG_20190512_123820.jpg   3814  3815
000000075       LE       Jackson-Thompson               REG_EXT    Y        CU_000000075_IMG_20190512_123820.jpg   3816  3817
000000075       LE       Jackson-Thompson               REG_EXT    Y        CU_000000075_IMG_20190512_124107.jpg   3816  3818
000000075       LE       Jackson-Thompson               COI        Y        CU_000000075_IMG_20190515_135249.jpg   3819  3820
000000075       LE       Jackson-Thompson               COI        Y        CU_000000075_IMG_20190512_124206.jpg   3819  3821
000000076       LE       Nichols-Campbell               AoA        Y        CU_000000076_IMG_20190512_123820.jpg   3822  3823
000000077       LE       Grimes-Mason                   REG_EXT    Y        CU_000000077_IMG_20190511_152919.jpg   3824  3825
000000078       LE       Jimenez-Stanton                AoA        Y        CU_000000078_IMG_20190512_123820.jpg   3826  3827
000000079       LE       Mcdaniel-Schultz               REG_EXT    Y        CU_000000079_IMG_20190511_152919.jpg   3828  3829
000000080       LE       Murphy LLC                     AoA        Y        CU_000000080_IMG_20190512_123820.jpg   3830  3831
000000081       LE       Edwards LLC                    REG_EXT    Y        CU_000000081_IMG_20190512_123820.jpg   3832  3833
000000081       LE       Edwards LLC                    REG_EXT    Y        CU_000000081_IMG_20190512_124107.jpg   3832  3834
000000081       LE       Edwards LLC                    COI        Y        CU_000000081_IMG_20190515_135249.jpg   3835  3836
000000081       LE       Edwards LLC                    COI        Y        CU_000000081_IMG_20190512_124206.jpg   3835  3837
000000082       LE       Blake-Mcdowell                 AoA        Y        CU_000000082_IMG_20190512_123820.jpg   3838  3839
000000083       LE       Obrien, Gomez and Gibson       REG_EXT    Y        CU_000000083_IMG_20190511_152919.jpg   3840  3841
000000084       LE       Carter, Thomas and Reynolds    AoA        Y        CU_000000084_IMG_20190512_123820.jpg   3842  3843
000000085       LE       Cook, Wells and Ball           PoA        Y        CU_000000085_1000001465.jpg            3844  3845
000000085       LE       Cook, Wells and Ball           PoA        Y        CU_000000085_1000001462.jpg            3844  3846
000000086       LE       Fields LLC                     AoA        Y        CU_000000086_IMG_20190512_123820.jpg   3847  3848
000000087       LE       Carlson, Rodriguez and Hicks   REG_EXT    Y        CU_000000087_IMG_20190512_123820.jpg   3849  3850
000000087       LE       Carlson, Rodriguez and Hicks   REG_EXT    Y        CU_000000087_IMG_20190512_124107.jpg   3849  3851
000000087       LE       Carlson, Rodriguez and Hicks   COI        Y        CU_000000087_IMG_20190515_135249.jpg   3852  3853
000000087       LE       Carlson, Rodriguez and Hicks   COI        Y        CU_000000087_IMG_20190512_124206.jpg   3852  3854
000000088       LE       Guerrero, Carr and Rodriguez   AoA        Y        CU_000000088_IMG_20190512_123820.jpg   3855  3856
000000089       LE       Miller-Kirby                   REG_EXT    Y        CU_000000089_IMG_20190511_152919.jpg   3857  3858
000000090       LE       Chavez, Miller and Cross       AoA        Y        CU_000000090_IMG_20190512_123820.jpg   3859  3860
000000091       LE       Cook Inc                       REG_EXT    Y        CU_000000091_IMG_20190511_152919.jpg   3861  3862
000000092       LE       Long-Morris                    AoA        Y        CU_000000092_IMG_20190512_123820.jpg   3863  3864
000000093       LE       Hernandez and Sons             REG_EXT    Y        CU_000000093_IMG_20190512_123820.jpg   3865  3866
000000093       LE       Hernandez and Sons             REG_EXT    Y        CU_000000093_IMG_20190512_124107.jpg   3865  3867
000000093       LE       Hernandez and Sons             COI        Y        CU_000000093_IMG_20190515_135249.jpg   3868  3869
000000093       LE       Hernandez and Sons             COI        Y        CU_000000093_IMG_20190512_124206.jpg   3868  3870
000000094       LE       Shannon, Wiley and Vaughn      AoA        Y        CU_000000094_IMG_20190512_123820.jpg   3871  3872
000000095       LE       Melton, Hunter and Potts       PoA        Y        CU_000000095_1000001465.jpg            3873  3874
000000095       LE       Melton, Hunter and Potts       PoA        Y        CU_000000095_1000001462.jpg            3873  3875
000000096       LE       King-Terry                     AoA        Y        CU_000000096_IMG_20190512_123820.jpg   3876  3877
000000097       LE       Bennett PLC                    REG_EXT    Y        CU_000000097_IMG_20190511_152919.jpg   3878  3879
000000098       LE       Carter, Swanson and Ramirez    AoA        Y        CU_000000098_IMG_20190512_123820.jpg   3880  3881
000000099       LE       Cunningham-Hinton              REG_EXT    Y        CU_000000099_IMG_20190512_123820.jpg   3882  3883
000000099       LE       Cunningham-Hinton              REG_EXT    Y        CU_000000099_IMG_20190512_124107.jpg   3882  3884